/* ==UserStyle==
@name           Customized style-002
@version        1.0.0
@namespace      http://usercss.localhost/style-002.user.css
@description    A customized theme for style-002
@updateURL      http://usercss.localhost/style-002.user.css
==/UserStyle== */


@-moz-document domain("domain-001.com"), domain("domain-002.com") {

.Mt\(15px\).D\(f\).Ai\(c\).Fz\(14px\),
.W\(300px\).Miw\(300px\),
.W\(300px\).Miw\(300px\).Mstart\(60px\).D\(n\)--md.Pos\(st\).T\(80px\).sticky,
#module-engadget-deeplink-streams,
#post-right-col,
.grid\@tl\+__cell.col-4-of-12\@tl.col-4-of-15\@d.hide\@tp-.relative.full-height,
#engadget-recirculation-module,
.spcv_conversation-footer,
.spotim-recirculation,
#engadget-article-footer,
.t-meta,
[data-component=NewsletterCard] {
  display: none !important;
}

.Fz\(30px\),
[data-component=PostInfo] {
  font-size: 20px;
}

[data-component=LatestStream] > li {
  padding: 10px 0 !important;
}

}